body{
    /* background-color: brown; */
}
#dismiss{
    background-color: blueviolet;
    color: white;
}
#dismiss1{
    background-color:rgb(47, 255, 127);
    color: white;
}
#dismiss2{
    background-color:rgb(182, 30, 30);
    color: white;
}